h1 {
    color:seagreen;
    font-size: 48px;
    text-align: center;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.flex-container {
display: flex;
justify-content: center; /* Horizontal alignment */
align-items: center; /* Vertical alignment */
}